$medium: 640px;
$large: 1024px;
$primery-color: #82699d;
$text-color: #494848;
$body-font-family: "Open Sans", sans-serif;
$page-text-family: "Lora", serif;
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
@import "normalize";
@import "layout";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $primery-color;
}
/* Layout */
.ba-container {
  max-width: 1020px;
}
.ba-header {
  border-top: 10px solid $primery-color;
}

.ba-logo {
  display: flex;
  align-items: center;

  p {
    font-size: 39px;
    margin-left: 25px;
  }
}

.ba-header-bar {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 30px;
}
.ba-menu {
  display: flex;
  list-style: none;
  li {
    margin-left: 70px;
    display: flex;
    align-items: center;
  }
  a {
    font-size: 19px;
    font-weight: 400;
    &:hover {
      color: $text-color;
    }
  }
  svg {
    margin-right: 4px;
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: $primery-color;
}
.ba-intro-inner {
  background: url(../img/slider.jpg) 50% no-repeat;
  background-size: cover;
}
.ba-page-text {
  padding: 160px 0 185px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  h1 {
    padding-bottom: 20px;
    text-shadow: 1px 1px 12px black, 0 0 1em red;
  }
  p {
    font-family: $page-text-family;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 12px black, 0 0 1em red;
  }
}
.ba-page-title {
  opacity: 0.96;
  font-family: $page-text-family;
  font-size: 117px;
  font-weight: 400;
  color: #ffffff;
}
.ba-intro {
  margin-bottom: 20px;
}
.ba-about-content {
  p {
    max-width: 905px;
    text-align: center;
    font-family: $body-font-family;
    font-size: 23px;
    font-weight: 400;
    font-style: italic;
    span {
      color: $primery-color;
      font-weight: 700;
    }
  }
}
.ba-about-center {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-top: 2px solid $primery-color;
  border-bottom: 2px solid $primery-color;
}
.ba-gallery {
  margin: 30px 15px;
}
.ba-gallery-heading {
  font-family: $body-font-family;
  font-size: 31px;
  font-weight: 700;
  color: $text-color;
  padding-bottom: 20px;
}
.ba-gallery {
  font-family: $body-font-family;
  line-height: 28px;
  font-size: 15px;
  font-weight: 400;
  color: #838383;
}
.arrow{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
